/********* 总容器 *********/
.wrapper{
	width: 100%;
	background-color: #f2f2f2;
}

/********* 头部 *********/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: deepskyblue;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	color: white;
	font-size: 5vw;
	font-weight: 700;
}

/*********商家列表*********/
.wrapper .merchant{
	width: 100%;
	padding-top: 12vw;
	padding-bottom: 20vw;
}
.wrapper .merchant li{
	display:flex;
	padding: 2.5vw;
	margin: 2vw;
	user-select:none;
	cursor:pointer;
	background-color: white;
	border-radius: 5vw;
}
.wrapper .merchant li .merchant-img{
	position:relative
}
.wrapper .merchant li img{
	width: 20vw;
	height: 20vw;
	border-radius: 6vw;
}
.wrapper .merchant li .merchant-img .quantity{
	width: 4vw;
	height: 4vw;
	background-color: red;
	border-radius: 3vw;
	
	display:flex;
	justify-content: center;
	align-items: center;
	
	font-size: 3vw;
	color: white;
	
	position: absolute;
	right: -1.5vw;
	top: -1.5vw;
}
.wrapper .merchant li .merchant-info{
	width: 100%;
	margin-left: 3vw;
}
.wrapper .merchant li .merchant-info h3{
	margin-bottom: 2vw;
	color: darkslategrey;
	font-size: 4vw;
}
.wrapper .merchant li .merchant-info p{
	margin-bottom: 2vw;
	font-size: 3vw;
	color: gray;
}

/*********底部菜单*********/
.wrapper .footer{
	width: 95%;
	height: 14vw;
	border: solid 1.5px darkgray;
	background-color: white;
	border-radius: 5vw;
	
	position: fixed;
	bottom: 3vw;
	left: 2.5%;
	
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.wrapper .footer li{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size:5vw;
	
	color: gray;
	user-select: none;
	cursor: pointer;
}
.wrapper .footer li p{
	font-size:2.8vw;
}